<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Categories</title>
        {% load static %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <!-- As a heading -->
            <nav class="navbar navbar-dark bg-primary justify-content-center">
                <h3 class="navbar-brand">Categories And Sub Categories</h3>
            </nav>
           {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert" >
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}
             <div class="row justify-content-md-center" style="margin-top: 50px;">
                <div class="col-md-8">
                    <form action="" method="POST">{% csrf_token %}
                        <div class="row form-group">
                            <div class="col-md-4 text-right">
                                <label for="{{ form.cat_id.id_for_label }}">Category</label>
                            </div>
                            <div class="col-md-6">
                                {{ form.cat_id }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-4 text-right">
                                <label for="id_subcategories">Sub Category</label>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" id="id_subcategories" required name="sub_categories">
                                    <option value="" selected disabled>---------</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Jquery JS -->
        <script src="{% static 'jquery-3.5.1/jquery.min.js' %}" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="{% static 'bootstrap-4.0.0/js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                setTimeout(function() {
                    $('.success').fadeOut('slow');
                }, 3000); // <-- time in milliseconds

                $("#id_cat_id").on("change", function(){
                    var category = $('#id_cat_id option:selected').val();
                    console.log(category)
                    $('#id_subcategories').empty();
                    $('#id_subcategories').append('<option value="" selected disabled>Select SubCategory</option>');
                    $.ajax({
                        method: 'GET',
                        url: "{% url 'sub_categories' %}",
                        data: { 'category': category },
                        datatype: 'json',
                        success: function (data) {
                            if (data.success == true) {
                                $.each(data.sub_categories, function (k, v) {
                                    $('#id_subcategories').append('<option value="' + v.sub_categories + '">' + v.sub_categories + '</option>');
                                });
                            }
                            else {
                                alert(data.message);
                            }
                        },
                        error: function (data) {
                            alert(data.message);
                        },
                    });
                })
            })
        </script>
    </body>
</html>